<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>

<body>
<table th:border="3">
    <thead>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.brand}">Model</td>
        <td th:text="${car.model}">Model</td>
        <td th:text="${car.color}">Model</td>
    </tr>
    </tbody>
</table>
